body{
	color: #333;
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
img{
	width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/*h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed',sans-serif !important;
}*/
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.m0{
	margin: 0 auto;
}
.p0{
	padding: 0;
}
.p5{
	padding: 0 5px;
}
.clearfix{
	clear: both;
}

.topbar{
	display: block;
	background: #f2f2f2;
	border-top:2px solid #eb6a01; 
	padding: 5px;
}
.hotline-top{
	text-align: right;
}
.hotline-top img{
	display: inline-block;
	margin-right: 5px;
}
.hotline-top p, .hotline-top p a{
	display: inline-block;
	font-size: 17px;
	font-family: 'Roboto Condensed',sans-serif;
	margin: 0;
	color: #000;
}
.hotline-top p a{
	color: #000;
}
.hotline-top p a:hover{
	color: #2aabd2;
	text-decoration: none;
}
.nav>li{
	height: 24px;
	margin-top:1px; 
}
.navbar-nav{
	float: right;
}
.navbar-nav>li>a{
	font-size: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #000;
}
.navbar-nav>li>a>i{
	font-weight: 550;
}
.navbar-nav>li>a:hover{
	background:none;
	color: #2aabd2;
}
#logo{
	margin:0 10px;
	text-align: center;
}
#logo img{
	width: 200px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#search{
	display: block;
	margin-top: 20px;
}
#search input{
	display: inline-block;
	float: left;
	height: 40px;
	padding: 4px 6px;
	background: rgba(210,201,207,0.26);
    margin: 0 0px 0 0 !important;
    color: #888;
    border-radius: 10px 0 0 10px;
    border: none;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    line-height: 14px;
    width: 220px;
    outline: none;
}
#search button{
	width: 80px;
	height: 40px;
	line-height: 40px;
	border-radius: 0 10px 10px 0;
	background: #2aabd2;
	border: none;
	color: #fff;
	
}
#search button:hover{
	background: #1E90FF;
	transition: 0.5s;
}
.cart{
	display: block;
	float: right;
	position: relative;
}
.discart{
	display: block;
	margin-top: 22px;
	font-family: 'Roboto Condensed', sans-serif;
}
.discart span.mycart{
	text-transform: uppercase;
	cursor: pointer;
	color: #000;
	font-weight: 700;
}
.discart span.mycart:before{
	font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    content: "\f07a";
    margin-right: 5px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    padding-right: 2px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    background: #347091;
}

.count_products_cart{
	font-weight: 700;
	font-size: 20px;
	color: red;
}
.top-cart-content{
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	background: #fff;
	border: 1px solid #e1e1e1;
	width: 300px;
	padding: 10px;
	z-index: 10000;
}

#mainmenu{
	display: block;
	height: 55px;
	background: #2aabd2;
}
#mainmenu ul{
	display: block;
	padding: 0;
	margin: 0;
}
#mainmenu ul li{
	position: relative;
	display: inline-block;
	float: left;
	color: #fff;
}
#menudrop{
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	font-weight: 700;
}
#mainmenu ul li:hover{
/*	background: #003333;
	border-top:4px solid #eb6a01; 
	transition: 0.3s;*/
}
#mainmenu ul.x1 > li:last-child{
	float: right;
}
#mainmenu ul li i{
	margin-left: -10px;
	margin-right: 20px;
}
#mainmenu ul li a{
	font-size: 15px !important;
    display: inline-block;
    margin: 0;
    padding: 0px 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 55px;
    font-family: 'Roboto Condensed', sans-serif;
}
#mainmenu ul li a:hover{
	text-decoration: none;
}
#mainmenu ul li:hover ul.drop2{
	display: block;
}
#mainmenu ul ul{
	display: none;
	position: absolute;
	width: 100%;
	background: #fff;
	border: 1px solid #e1e1e1;
	z-index: 1000;
}
#mainmenu ul ul.drop2{
	top: 55px;
	left: 0;
}
#mainmenu ul ul li{
	display: block;
	float: none;
	position: relative;
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
}
#mainmenu ul ul.drop2 li i{
	position: absolute;
	top: 10px;
	right: 0px;
	color: #333;
}
#mainmenu ul ul li a{
	display: block;
	color: #000;
	font-size: 14px !important;
	font-weight: 700;
	margin-left: 30px;
	padding: 0 5px;
	line-height: 55px;
}
#mainmenu ul ul.drop2 li a:hover{
	color: #2aabd2;
}

#mainmenu ul.drop2 li:hover ul.drop3{
	display: block;
}
#mainmenu ul.drop2 ul.drop3{
	top: 0;
	left: 200px;
}

#mainmenu ul.drop2 ul.drop3 li:hover ul.drop4{
	display: block;
}
#mainmenu ul.drop4{
	top: 0;
	left: 200px;
}
section{
	display: block;
	margin-top: 20px;
}
.breadcrumb{
	background: white;
	margin-left: 4%;
}
.breadcrumb li{
	font-size: 15px;
}
.breadcrumb li a{
	color: black;
	font-weight: 500;
}
.boxleft{
	display: block;
	margin-bottom: 20px;
	border:1px solid #f2f2f2;
	margin-top:10px; 
	margin-left: 30%;
}
.boxleft:after{
	content: '';
	display: table;
	clear: both;
	height: 0;
	font-size: 0;
}
.titboxl{
	display: block;
	height: 42px;
	background: #f2f2f2;
	color: #000;
	line-height: 42px;
}
.titboxl span{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	padding-left: 20px;
}
#featured .ctboxleft{
	background-color: rgba(245,244,244,1) !important;
}
ul.mnboxl{
	display: block;
	margin: 0;
	padding: 0;
}
ul.mnboxl ul{
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10000;	
	width: 200px;
	background: #fff;
	border: 1px solid #e1e1e1;
	margin: 0;
	padding: 0;
}
ul.mnboxl li{
	position: relative;
	display: block;
	width: 100%;	
	background: #fff;
	border-bottom: 1px solid #dadfea;
	border-top: 1px solid #dadfea;

}

ul.mnboxl li a{
	display: block;
	color: #000000;
    font: 14px/38px 'Roboto Condensed',sans-serif !important;		
    padding-left: 20px !important;
    text-transform: uppercase;

}
ul.mnboxl li a:hover{
	text-decoration: none;
	background: #42a8bf;
}
ul.mnboxl li i{
	padding-right: 10px;
	top: 12px;
	right: 10px;
	cursor:pointer;
}
ul.mnboxl li:hover > ul{
	display: block;
}
ul.mnboxl ul ul{
	display: none;
}
ul.mnboxl ul li:hover > ul{
	display: block;
}
.banner img{
	width: 100%;
}
.boxspl{
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #e1e1e1;
}
.boxspl:after{
	content: '';
	display: table;
	clear: both;
	height: 0;
}
.tit-boxspl a{
	display: block;
	padding-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #333;
}
.price-boxspl{
	margin: 10px;
	color: #ED1C24;
	font-size: 18px;
}
.tintucl{
	padding: 10px 0;
}
.tintucl img{
	margin-bottom: 5px;
}
.tintucl h3{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 10px;
}
.tintucl h3 a{
	font:15px/20px 'Roboto Condensed', sans-serif;
	color: #333;
}
.tintucl p{
	text-align: justify;
	margin: 0;
}
.boxmain{
	display: block;
	margin-bottom: 20px;
}
.text-left{
	margin-top: 20px;
}
.boxsp{
	display: block;
	border: 1px solid #EFEFEF;
	padding: 5px;
	position: relative;
	margin-bottom: 10px;
}
.boxsp:hover:before, .boxsp:hover:after{
	opacity: 1;
}
.boxsp:before, .boxsp:after{
	pointer-events: none;
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 5px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.boxsp:before {
    bottom: 100%;
    background: radial-gradient(ellipse at 50% 150%,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%);
}
.boxsp:after {
    top: 100%;
    background: radial-gradient(ellipse at 50% -50%,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%);
}
.imgsp{
	padding: 10px 0;
    overflow: hidden;
    position: relative;
}
.imgsp img{
	display: block;
    margin: auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all all 0.2s ease-in-out ease;
    -moz-transition: all all 0.2s ease-in-out ease;
    -ms-transition: all all 0.2s ease-in-out ease;
    -o-transition: all all 0.2s ease-in-out ease;
    transition: all all 0.2s ease-in-out ease;
}
.imgproduct{
	width: 165.44px;
	height: 220.58px;
}
.boxsp:hover img.imgproduct{
	webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.imgsp .img-label{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.namesp{
	display: block;
	height: 35px;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 5px;
	text-align: center;
	overflow: hidden;
}
.namesp a{
	text-transform: capitalize;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #333;
	line-height: 35px;
}
.namesp a:hover{
	text-decoration: none;
}
.pricesp{
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: normal !important;
    color: #CA0000 !important;
    padding: 10px 0;
}
.boxmain{
	margin-bottom: 20px;
}
.tit-boxmain{
	display: block;
	height: 35px;
}
.tit-boxmain h3{
	display: block;
	text-transform: uppercase;
    font: 18px/35px 'Roboto Condensed', sans-serif;
    padding-left: 25px;
    padding-right: 5px;
    display: inline-block;
    margin: 0;
	background: url(../images/bg_vina_title.png) no-repeat center left;
}
.button-hd{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    margin: 0 auto;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transition: all all 0.4s ease 0s ease;
    -moz-transition: all all 0.4s ease 0s ease;
    -ms-transition: all all 0.4s ease 0s ease;
    -o-transition: all all 0.4s ease 0s ease;
    transition: all all 0.4s ease 0s ease;
    text-align: center;
}
.button-hd a{
	overflow: hidden;
	margin: 0 3px;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    background: #666;
    display: inline-block;
    border: none;
    vertical-align: middle;
    color: #fff;
}
.button-hd a:hover{
	background: #f57224;	
}
.button-hd a i{
    display: inline-block;
    color: #fff;
}
.boxsp:hover .button-hd{
	visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

footer#footer{
	display: block;
	padding: 20px 0;
	margin-top: 10px;
	background: #eee;
}
.f1{
	display: block;
}
.ct-boxft1{
	font: 16px/25px 'Roboto Condensed', sans-serif;
}
.f1 ul{
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}
.f1 ul li{
	display: block;
}
.f1 ul li a{
	display: block;
	font: 16px/30px 'Roboto Condensed', sans-serif;
	color: #444;
}
.f1 ul li a:hover{
	text-decoration: none;
	color: #ED1C24;
}
.copyright{
	background: #000;
}
.copyright p{
	padding: 20px 0;
	color: #fff;
	font: 15px 'Roboto Condensed', sans-serif;
	margin: 0;
}

ul.ulspmobi{
	display: block;
	padding: 0;
	margin: 0;
}
ul.ulspmobi li{
	display: block;
	position: relative;
}
ul.ulspmobi li a{
	display: block;
	color: #C00;
    font: 14px/35px 'Roboto Condensed',sans-serif !important;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
}
ul.ulspmobi li a:hover{
	text-decoration: none;
}
ul.ulspmobi li span{
	display: block;
	height: 35px;
	width: 35px;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -99999px;
	cursor: pointer;
}
ul.ulspmobi li span.iconlist{
	background: url(../images/right.png) center center no-repeat;
}
ul.ulspmobi li span.iconlist1{
	background: url(../images/down.png) center center no-repeat;
}
ul.ulspmobi ul{
	margin: 0;padding: 0;
	display: none;
}
ul.ulspmobi ul li a{
	padding-left: 20px !important;
	font-size: 14px !important;
	line-height: 30px !important;
	text-transform: capitalize;
}


@media screen and (max-width: 480px) {
	#search{
		margin: 0 auto;
	}
    #search input{
	    width: 180px;
	}

}
/*Chá»‰nh from */
#boderform{
	border: 3px solid #BDBDBD;
	border-radius: 1px;
}
.nut{
	margin-left: 40%;
	margin-bottom: 30px;
	margin-top: 30px;
}
.labelform p{
	font-size: 24px;
	color: #000; 
	margin-top: 10px;
	margin-bottom: 10px;
}
.timnc{
	width: 200px;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	border:0;
	border-bottom: 1px solid gray;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
  #loi{
  	color: red;
  }
  #lois{
  	color: red;
  }
  .error{
  	color: red;
  }
  .stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.alert{
	margin-top: 3%;
	height: 40px;
	line-height: 0px;
	background: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
}
#thdonhang{
	margin-left: 3%;
}
.tb{
	text-transform: uppercase;
	background: #EFFBFB;
}
.tongtiendh b{
	font-size: 16px;
}
.tongtiendh p{
	color: #CA0000;
	font-size: 16px;
}
#next{
	color: black;
	background: #EFFBFB;
}
#view{
	color: black;
}
.tbrow{
	height: 80px;
}
.tbrow th{
	    vertical-align: inherit !important;
}
.tbrow td{
	    vertical-align: inherit !important;
}
.table{
	border:1px solid #CEF6E3;
}
.rowcthd{
	height: 150px;
}
.rowcthd th{
	    vertical-align: inherit !important;
}
.rowcthd td{
	    vertical-align: inherit !important;
}